@model List<Module>
<h2>@ViewBag.Title</h2>
<p>
    <ul>
        @foreach (var module in Model)
        {
            <li>@Html.ActionLink(Resources.Modules.ResourceManager.GetString(module.ModuleCode, Resources.Modules.Culture) ?? module.ModuleName, "Access", "Module", new { id = module.ID }, null)</li>
        }
    </ul>
</p>
