@model List<Module>
<h2>@ViewBag.Title</h2>
<p>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(Resources.Modules.ResourceManager.GetString(item.ModuleCode, Resources.Modules.Culture) ?? item.ModuleName, "Access", "Module", new { id = item.ID }, null)</li>
        }
    </ul>
</p>
