@using AMS.Views.Module.App_LocalResources

@{
    ViewBag.Title = AccessDenied.Page_Title;
}

<h2>@ViewBag.Title</h2>
<p>
     @MvcHtmlString.Create(AccessDenied.Message_AccessDenied)
</p>
