@model IEnumerable<Module>
<p>
    <ul>
        @foreach (var module in Model)
        {
            <li>@Html.ActionLink(App_GlobalResources.Modules.ResourceManager.GetString(module.ModuleCode, Resources.Modules.Culture) ?? module.ModuleName, "Access", "Module", new { id = module.ID }, null)</li>
        }
    </ul>
</p>
