@using AMS.Views.Home.App_LocalResources

@{
    ViewBag.Title = Index.Page_Title;
}

<h2>@ViewBag.Title</h2>
<p>
    @MvcHtmlString.Create(Index.Message_Welcome)
</p>
<img alt="" src="@Configuration.GetSetting("MainBanner")" class="banner banner-main-home-index"/>